body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;

    
}
section{
    width: 400px;
    height: auto;
    border: 2px skyblue solid;
    padding: 0 10px 5px 10px;
}
#data{
    text-align: center;
}
#conteudo{
   text-align: justify;
}

p{
    margin-top: 0;
    
}